.cityInfo {
    background-color: brown;
}

.containerEdit{
    margin-left: 0px !important;
    margin-right: 0px !important; 
}

.black{
    background-color: black;
}

.red{
    background-color: red;
}