.cityInfo {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    color: white;
}

.containerEdit{
    margin-left: 0px !important;
    margin-right: 0px !important; 
}
.btnWidth{
    width: 180px;
}

.black{
    background-color: black;
}

.jumbotron2{
    background-color: transparent !important;
    padding-top: 2rem !important;
}

.red{
    background-color: black !important;
}

.quickSearchItem{
    margin-bottom: 10px;
}