.cityInfo {
    background-color: brown;
}

.containerEdit{
    margin-left: 0px !important;
    margin-right: 0px !important; 
}
.btnWidth{
    width: 180px;
}
.cityInfo{
    display: flex;
    justify-content: center;
}

.black{
    background-color: black;
}

.red{
    background-color: red;
}

.quickSearchItem{
    margin-bottom: 10px;
}